<app-addition></app-addition>
<app-subtraction></app-subtraction>
<app-latestvideos></app-latestvideos>

<h1 style="text-align: center; color: deeppink">
  For the code below, see "app.component.html file" & "app.component.ts file"!!!
</h1>

<div class="if">
  <button type="button" *ngIf="UserLogged">LogOut</button>

  <button type="button" *ngIf="!UserLogged">LogIn</button>
</div>
<div class="for">
  <h3>------*ngFor case-------</h3>

  <ul>
    <li *ngFor="let temp of students">{{ temp }}</li>
  </ul>

  <table border="2" style="border-collapse: collapse">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let d of data">
      <td>{{ d.firstname }}</td>
      <td>{{ d.lastname }}</td>
      <td>{{ d.age }}</td>
    </tr>
  </table>
</div>
<div class="switch">
  <h3>****!!!!!!!!!!!!SWITCH CASE TOPIC!!!!!!!****</h3>

  <select [(ngModel)]="choose">
    <option value="Pavan">Pavan</option>
    <option value="Kiran">Kiran</option>
    <option value="Ravi">Ravi</option>
    <option value="Lahari">Lahari</option>
  </select>
  <div [ngSwitch]="choose">
    <h2 *ngSwitchCase="'Pavan'">I'M FROM KOVVUR</h2>
    <h2 *ngSwitchCase="'Kiran'">I'M FROM NAVADURU</h2>
    <h2 *ngSwitchCase="'Ravi'">I'M FROM KALAVAPUDI</h2>
    <h2 *ngSwitchCase="'Lahari'">I'M FROM ELURU</h2>
  </div>
</div>
<!--ROUTER LINKS.........................-->
<div class="route">
  <H3>******ROUTER LINKS*********</H3>

  <a routerLink="/add">Show Addition Page</a>
  <br />
  <a routerLink="/sub">Show Subtraction Page</a>
  <br />
  <a routerLink="/div">Show Division Page</a>
  <br />

  <!--ROUTER CONTAINER------------->
  <router-outlet></router-outlet>
</div>
<!--DATA BINDING-------------------->
<div class="bind">
  <h3 style="text-decoration: underline">******DATA BINDING*************</h3>
  <h1>{{ title }}</h1>
  <h5>< DATA BINDING USing FUNCTION..........></h5>
  <p id="wel">{{ welcome() }}</p>
</div>
<!--EVENT HANDLING............-->
<div class="event">
  <h1>EVENT HANDLING USING BUTTON</h1>
  <button type="button" (click)="clickMe()">Click ME</button>
</div>

<!--ng FORMS...............-->
<div class="ngforms">
  <h2>.........NG FORMS USING FUNCTION.....</h2>
  <form #mulform="ngForm" (ngSubmit)="multiply(mulform.value)">
    <label>A:</label><br />
    <input type="number" name="valuea" ngModel />
    <br />
    <br />
    <label>B:</label><br />
    <input type="number" name="valueb" ngModel /><br /><br />
    <button type="submit">Multiple</button>
  </form>
</div>

<app-division></app-division>

<!----------ANGULAR  PIPES------------------>

<div class="pipe">
  <div class="before">
    <h3>BEFORE PIPING.</h3>
    <p>{{ name }}</p>
    <p>{{ rupees }}</p>
    <p>{{ date }}</p>
  </div>
  <div class="after">
    <h3>AFTER PIPING.</h3>
    <p>{{ name | uppercase }}</p>
    <p>{{ rupees | currency: "INR" }}</p>
    <p>{{ date | date: "d/M/Y" }}</p>
    <p>{{ date | date: "shortTime" }}</p>
    <p>{{ date | date: "fullDate" | uppercase }}</p>
  </div>
</div>

<!----------------------------------------------------------------------------------->
<!--------------------------JSON--------------------------->
<div class="json">
  <div class="stage1">
    <h3>Displaying data stored in Array using JSON:</h3>
    <h5>List of Friends:</h5>
    <table border="1">
      <thead>
        <tr>
          <th>NAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frnd of friends">
          <td>{{ frnd }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="stage2">
    <h3>Adding data and deleting data to & from Array using JSON:</h3>
    <h5>List of Friends:</h5>
    <table border="1">
      <thead>
        <tr>
          <th>NAME</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frnd of friends; index as i">
          <td>{{ frnd }}</td>
          <td><button (click)="delete(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div>
      <h5>ADD NEW FRIENDS HERE..</h5>
      <input type="text" required [(ngModel)]="addFriend" /><br /><br />
      <button type="button" (click)="add()">ADD</button>
    </div>
  </div>
</div>
